# ===== Profil Production =====
spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true
  sql:
    init:
      mode: never

logging:
  level:
    com.masterannonce: INFO
    org.springframework.security: WARN
    org.hibernate.SQL: WARN
  pattern:
    console: "%d{HH:mm:ss.SSS} [%X{correlationId:-N/A}] %-5level %logger{36} - %msg%n"
